---
---
<div class="pre-page" id="pre_page">
    <img src="/s-f-wedding/images/mw-welcome-graph-left.svg" class="left-graph" data-wow-delay="1.5s" id="left_graph" >
    <img src="/s-f-wedding/images/mw-welcome-graph-left.svg" class="rigth-graph" data-wow-delay="1.5s" id="rigth_graph" >
    <img src="/s-f-wedding/images/mw-env-middle-layer.png" class="envelope" data-wow-delay="1.5s" id="env_middle">
    <img src="/s-f-wedding/images/mw-env-bottom-layer.png" class="envelope" data-wow-delay="1.5s" id="env_bottom">
    <img src="/s-f-wedding/images/mw-env-top-layer.png" class="envelope" data-wow-delay="1.5s" id="env_top" >
    <div class="inner" data-wow-delay="1.5s" id="inner_elements">
        <span class="icon">
            <div class="pre-page-content">
                <br><br>
                <h1>Silvia &amp; Fran</h1>
                <p class="welcome-text-p">Se casan y te invitan a celebrar con ellos este gran día.</p>
                <br>
            </div>
            <div id="btn-sello" class="welcome-element stamp">
                <img src="/s-f-wedding/images/sello.png" class="animate-zoom-in-out">
                <p class="welcome-text-p">Pulse para abrir</p>
            </div>
        </span>
    </div>
</div>

<style>
.pre-page {
    background-color: rgba(255, 255, 255, 1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    overflow: hidden; /* Evitar scroll dentro del componente */
}
.pre-page .left-graph {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 11;
    width: 35vw;
}
.rigth-graph {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 11;
    width: 35vw;
    transform: rotate(180deg);
}
#inner_elements {
    animation: fadeIn 4s ease;
}

#env_middle {
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0.5;
    object-fit: fill;
}
#env_bottom {
    vertical-align: bottom;
    width: 100%;
    bottom: 0%;
    position: absolute;
    right: 0px;
    opacity: 0.5;
    overflow: visible;
    animation: slideInDownInitial 3s ease;
}
#env_top {
    width: 100%;
    vertical-align: top;
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0.5;
    overflow: visible;
    animation: slideInUpInitial 3s ease;
}
pre-page .inner {
    display: flex;
    height: 100vh;
}

.pre-page .inner {
    display: flex;
    height: 100vh;
}
.pre-page .icon {
    display: block;
    margin: auto;
}
.pre-page-content {
    text-align: center;
    padding: 0 5%;
    position: relative;
    z-index: 16;
    font-family: 'Dancing Script Variable';
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 1em;
    }
}
.welcome-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Dancing Script Variable';
}
.stamp {
    position: relative;
    width: 120px;
    margin: auto;
    display: flex;
    z-index: 11;
    cursor: pointer; /* Indicar que es clickeable */
}
.animate-zoom-in-out {
    animation: zoom-in-zoom-out 2s ease infinite;
}
img, svg {
    vertical-align: middle;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
animate-zoom-in-out {
    animation: zoom-in-zoom-out 2s ease infinite;
}
@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(0.75,0.75);
    }
    100% {
        transform: scale(1,1);
    }
    
}
@media (max-width: 480px) {
    .pre-page .left-graph {
        height: 50vw;
        width: 70vw;
    }
    .rigth-graph {
        height: 50vw;
        width: 70vw;
    }
}
@media (max-width: 991px) {
    #env_middle {
        display: none;
    }
    #env_top, #env_bottom {
        height: 60vh;
        width: 100%;
        margin: auto;
        object-fit: cover;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes slideInDownInitial {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInUpInitial {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes slideInDown {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(-100%);
    }
}
</style>

<script>
   console.log("Astro page loaded");
   
   // Bloquear el scroll al cargar la página
   document.body.style.overflow = 'hidden';
   
   const button = document.getElementById('btn-sello') as HTMLElement;
   button.addEventListener('click', () => {
       fadeOutWelcomeElements();
       // Desbloquear el scroll cuando se pulsa el sello
       document.body.style.overflow = 'auto';
   });

   function fadeOutWelcomeElements() {
       const element = document.getElementById('pre_page') as HTMLElement;
       element.style.animation = 'fadeOut 3s ease';
       const env_bottom = document.getElementById('env_bottom') as HTMLElement;
       env_bottom.style.animation = 'slideInDown 2s ease';
       const env_top = document.getElementById('env_top') as HTMLElement;
       env_top.style.animation = 'slideInUp 2s ease';
       setTimeout(() => {
         element.style.display = 'none';
       }, 3000);
   }
</script>